bank-selected-item-menu[data-item-id^='item_placeholder:empty_'] .wiki-link {
  display: none;
}

#bank-item-box {
  height: fit-content !important;
  min-height: 830px;
}

.fixed-bank-width bank-tab-menu .tab-content {
  overflow-x: scroll;
}

/** Placeholders */

.placeholder-faded bank-item-icon[data-item-quantity='0']:not(bank-item-icon[data-item-id^='item_placeholder:empty_']) {
  opacity: 50%;
}

.placeholder-faded-image
  bank-item-icon[data-item-quantity='0']:not(bank-item-icon[data-item-id^='item_placeholder:empty_'])
  img {
  opacity: 50%;
}

.placeholder-border
  bank-item-icon[data-item-quantity='0']:not(bank-item-icon[data-item-id^='item_placeholder:empty_'])
  .bank-img {
  border: 1px solid #d26a5c;
  border-radius: 5px;
}

.placeholder-zero
  bank-item-icon[data-item-quantity='0']:not(bank-item-icon[data-item-id^='item_placeholder:empty_'])
  small {
  background-color: #e56767 !important;
  color: white !important;
}

.placeholder-no-number
  bank-item-icon[data-item-quantity='0']:not(bank-item-icon[data-item-id^='item_placeholder:empty_'])
  small {
  display: none;
}

.placeholder-no-number-faded
  bank-item-icon[data-item-quantity='0']:not(bank-item-icon[data-item-id^='item_placeholder:empty_']) {
  opacity: 50%;
}

.placeholder-no-number-faded
  bank-item-icon[data-item-quantity='0']:not(bank-item-icon[data-item-id^='item_placeholder:empty_'])
  small {
  display: none;
}

/** Empties */

.empty-faded bank-item-icon[data-item-id^='item_placeholder:empty_'] {
  opacity: 50%;
}

.empty-border bank-item-icon[data-item-id^='item_placeholder:empty_'] .bank-img {
  border: 1px solid #d26a5c;
  border-radius: 5px;
}

.empty-zero bank-item-icon[data-item-id^='item_placeholder:empty_'] small {
  background-color: #e56767 !important;
  color: white !important;
}

.empty-no-number bank-item-icon[data-item-id^='item_placeholder:empty_'] small {
  display: none;
}

.empty-no-number-faded bank-item-icon[data-item-id^='item_placeholder:empty_'] {
  opacity: 50%;
}

.empty-no-number-faded bank-item-icon[data-item-id^='item_placeholder:empty_'] small {
  display: none;
}

/** Potion Popup */

potion-select-menu-item[data-item-quantity='0'] button {
  display: none;
}

.potion-faded potion-select-menu-item[data-item-quantity='0'] {
  opacity: 50%;
}

.potion-faded-image potion-select-menu-item[data-item-quantity='0'] .shop-img {
  opacity: 50%;
}

.potion-border potion-select-menu-item[data-item-quantity='0'] > div {
  border: 1px solid #d26a5c;
  border-radius: 5px;
}

.potion-zero potion-select-menu-item[data-item-quantity='0'] .mr-2 h5 {
  background-color: #e56767 !important;
  color: white !important;
  border-radius: 5px;
}

.potion-no-number potion-select-menu-item[data-item-quantity='0'] .mr-2 h5 {
  display: none;
}

.potion-no-number-faded potion-select-menu-item[data-item-quantity='0'] {
  opacity: 50%;
}

.potion-no-number-faded potion-select-menu-item[data-item-quantity='0'] .mr-2 h5 {
  display: none;
}

/** Quick equip */

.placeholder-faded #minibar-skill-item-container button[data-item-quantity='0'] img:not(.minibar-equipped) {
  opacity: 50%;
}

.placeholder-faded-image #minibar-skill-item-container button[data-item-quantity='0'] img:not(.minibar-equipped) {
  opacity: 50%;
}

.placeholder-border #minibar-skill-item-container button[data-item-quantity='0'] {
  border: 1px solid #d26a5c;
  border-radius: 5px;
}

.placeholder-no-number-faded #minibar-skill-item-container button[data-item-quantity='0'] img:not(.minibar-equipped) {
  opacity: 50%;
}
